<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{pageTitle}}</title>
    <link rel="stylesheet" href="/static/styles/styles.css">
</head>

<body>
    <header>
        <div class="nav-wrapper">
            <img class="logo"
                src="https://firebasestorage.googleapis.com/v0/b/angular-project-4050b.appspot.com/o/js%20back-end%2Flogo.png?alt=media&token=bafe8fa6-451c-489b-b969-d9fb63002206"
                alt="logo">
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/catalog">Catalog</a></li>
                    <li><a href="/about">About</a></li>
                    
                    {{#if hasUser }}
                        <li><a href="/profile">Profile</a></li>
                        <li><a href="/create">Add Sneakers</a></li>
                        <li><a href="/logout">Logout</a></li>                        
                    {{else}}
                        <li><a href="/login">Login</a></li>
                        <li><a href="/register">Register</a></li>                        
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>   

    {{{body}}}

    <footer>
        <div class="wrap">
            <p>&copy; 2025 Sneacker Paradise. All rights reserved.</p>
        </div>
    </footer>
</body>

</html>